@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Urbanist:wght@400;500;600;700&display=swap');

@import "tailwindcss";

body {
  font-family: 'Urbanist', sans-serif;
  background: #F4F4F4;
}

.sidebar-font {
  font-family: 'Outfit', sans-serif;
}